main {
    padding-top: 120px;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color:#00afa5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.4rem;
 }


.course-card {
    background-color: #f9f9f9;
    border: 1px solid #070606;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
} 

.course-card .popular-courses {
    font-size: larger;
    font-weight: 600;
    color: #fb8a3e;
    
}

.course-card h3, .course-card p {
    margin-bottom: 0.3rem;
}

.btn-more {
    color: floralwhite;
    background-color: #00c9a5;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: bold;
}



@media (max-width:600px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
}