/* Header */
:root {
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #c4e6df;
    --black: #0f0c0c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
}

.header {
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1.5rem,7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 1000; */
}

.header .logo img {
    height: 11rem;
    clip-path: circle(50%);
    margin:0 2.5rem;
}

.header .navbar a {
    color:floralwhite;
    font-size: 2rem;
    font-weight:600;
    margin: 0 4.5rem;
 }

 .header .navbar a:hover {
    color: var(--black);
 }
 /* Header end */

 





