* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    text-align: center;
}

.course-container {
    border: 1px solid blue;
    margin-top: 2rem;
}