* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    background-color: #fff;
}

h1 {
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-container {
    background-color: #aae2d8fb;
    margin-top: 2rem;
    width: 70%;
    border-radius: 0.2rem;
}