/* Home section */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin-top: 10vh;
    background-image: url(/content/images/Background-westcoast.webp);
    background-size: cover;
    background-position: right;
}

.btn {
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 1.8rem;
    font-weight:600;
    padding:0.8rem 2.5rem;
    border-radius: 1.6rem;
    cursor: pointer;
}

.btn:hover {
    color: var(--black);
}